<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <h1>Predict Cardio Vascular Disease</h1>
    <p>Enter the following data</p>
    <form action="/" method="POST">
        <label>Age</label>
        <input type="number" name="age" required>
        <label>Gender(1 for man, 2 for women)</label>
        <input type="number" name="gender" required>
        <label>Height</label>
        <input type="number" name="height" required>
        <label>Weight</label>
        <input type="number" name="weight" required>
        <label>AP_hi</label>
        <input type="number" name="ap_hi" required>
        <label>AP_lo</label>
        <input type="number" name="ap_lo" required>
        <label>Cholesterol</label>
        <input type="number" name="cholesterol" required>
        <label>Glucose</label>
        <input type="number" name="gluc" required>
        <label>Smoke</label>
        <input type="number" name="smoke" required>
        <label>Alcohol</label>
        <input type="number" name="alco" required>
        <label>Active</label>
        <input type="number" name="active" required>

        <button type="submit" value="Submit">Submit</button></div>
    </form>
</body>

</html>